# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000

### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
DATABASE_USER="default"
DATABASE_HOST="localhost"
DATABASE_PASSWORD="password"
DATABASE_NAME="<%= constantName.toLowerCase() %>"
DATABASE_PORT=<%= database !== "postgres" ? 3306 : 5432 %>
DATABASE_URL=<%= database === "postgres" ? "postgresql" : database %>://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# You can generate a random secret using a tool like `uuidgen` or any other random string generator.
# openssl rand -base64 32
NEXTAUTH_SECRET="<%= authSecret %>"

<% if (authType === "github") {%>
# GitHub OAuth secrets for auth & login - generate these here: https://github-client-generator.vercel.app/
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
<% } else if (authType === "google") { %>
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
<% } %>

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=

# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=

# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
# Only required if you're using this with a Vercel team
TEAM_ID_VERCEL=

# Optional backend API to use
BACKEND_API_URL=http://localhost:8080
